<div class="row mt-5">
    <% if @person.photo.attached? %>
        <div class="col-12 col-md-6">
            <%= image_tag @person.photo, class: "img-fluid rounded" %>
        </div>
    <% end %>
    <div class="<%= @person.photo.attached? ? 'col' : 'col-6 offset-3' %> text-start">
        <div class="mb-2">
            <%= link_to "Back", root_url, class: "link-secondary link-underline-opacity-25 link-underline-opacity-75-hover link-offset-2 link-opacity-50 link-opacity-100-hover" %>
        </div>
        <h1 class="mb-2 display-2"><%= @person.name %></h1>
        <div>
            <h3 class="text-secondary mb-2"><%= @person.byline %></h3>
            <h6>Passed away on <%= @person.date_of_passing %></h6>
        </div>
        <hr/>
        <p class="text-start">
            <%= simple_format(@person.about) %>
        </p>
        <hr/>
        <%= link_to "Edit", edit_person_url, class: "link-primary link-underline-opacity-25 link-underline-opacity-75-hover link-offset-2 link-opacity-50 link-opacity-100-hover" %>
    </div>
</div>