<h1 class="display-1 text-center mt-5">Tombstones</h1>
<p class="lead text-center mb-5">A moment of silence for those that have meant something to me</p>

<div id="people">
    <div class="row mt-4">
    <% @people.each do |person| %>
        <div class="col-md-6 col-xl-4 col-12">
            <div class="card text-center border-0">
                <div class="card-body">
                    <h2 class="card-title"><%= person.name %></h2>
                    <p class="text-secondary"><%= person.byline %></p>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%= Date::MONTHNAMES[person.date_of_passing.month] %> <%= person.date_of_passing.year %></h6>
                    <%= link_to "", person, class: "stretched-link" %>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>

<div class="row mt-md-3 mb-md-3">
    <div class="col col-md-6 offset-md-3 text-center">
        <% if @people.any? %>
            <hr/>
        <% end %>
        <%= link_to "New",
         new_person_url,
         class: "link-primary link-underline-opacity-25 link-underline-opacity-75-hover link-offset-2 link-opacity-50 link-opacity-100-hover",
         data: { turbo_prefetch: :false } %>
    </div>
</div>